* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Sign_in {
  background-image: url(../assets/bgimage.png);
  background-repeat: no-repeat;
  height: 100vh;
}
.sign_epson {
  background-color: #fff;
  width: 430px;
  border-radius: 12px;
  background: var(--foundation-white-white-50, #fefefe);
  box-shadow: 0px 4px 32px 0px rgba(51, 51, 51, 0.04);
  
}
